{% extends "base.html" %}

{% block title %}Login | Insurance Company of Africa{% endblock %}

{% block content %}

<div class="login-container">

    /static/logo.png

    <h3>Sign In</h3>

    {% if error %}

        <div class="error">{{ error }}</div>

    {% endif %}

    /login

        <label for="username">Username</label>

        <input type="text" name="username" id="username" required>

        <label for="password">Password</label>

        <input type="password" name="password" id="password" required>

        <label>

            <input type="checkbox" name="remember_me"> Remember me

        </label>

        <button type="submit">Sign In</button>

    </form>

    <div class="social-login">

        <span>or sign in with</span>

        <a href="/auth/googleoogle_icon.png</a>

        /auth/facebook<imgtic/facebook_icon.png</a>

        /auth/microsoft<img src="/static/microsoft/a>

    </div>

    /reset-passwordForgot your password?</a>

</div>

{% endblock %}
